<!DOCTYPE html>
<html lang="en" >

<head>
	<meta charset="UTF-8">
	<title>Login Form</title>



	<link rel="stylesheet" href="/static/css/lifestyle.css">


</head>

<body>

<body>
<div class="login">
	<div class="login-screen">
		<div class="app-title">
			<h1>Login</h1>
		</div>
		<form name="form" accept-charset="utf-8"  action="/loginVerify" method="post">
		<div class="login-form">
			<div class="control-group">
				<input type="text" id="username" name="username"  class="login-field" value=""  >
				<label class="login-field-icon fui-user" for="username"></label>
			</div>

			<div class="control-group">
				<input input type="password" id="password"  name="password" class="login-field" value=""  >
				<label class="login-field-icon fui-lock" for="password"></label>
			</div>

			<input type="submit" value="登录"/>
		</div>
		</form>
	</div>
</div>
</body>



</body>

</html>
