<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/static/admin/css/amazeui.min.css" />
		<link rel="stylesheet" href="/static/admin/css/admin.css" />
		<script>
			var ck = function(){


				var x = prompt ("输入更改后的ID: ", "3");/*第一个变量为提示语，第二个变量为默认初始值*/
				var y = prompt("输入更改后的用户名","user")
				var z = prompt("输入更改后的密码","123456")
				// var input1 = document.createElement("input");
				// input1.type = "hidden";
				// input1.name = id;
				// input1.value = x;
				// var input2 = document.createElement("input");
				// input2.type = "hidden";
				// input2.name = username;
				// input2.value = y;
				// var input3 = document.createElement("input");
				// input3.type = "hidden";
				// input3.name = password;
				// input3.value = z;
				// var temp = document.createElement("form");
				// temp.appendChild(input1);
				// temp.appendChild(input2)
				// temp.appendChild(input3)
				// temp.action = "/updateUser";
				// temp.method = "post";
				// document.body.appendChild(temp);
				// temp.submit();
				// document.body.removeChild(temp);
				alert(x+""+y+""+z+"修改成功！");
			}
		</script>
	</head>

	<body>
		<div class="admin-content-body">
			<div class="am-cf am-padding am-padding-bottom-0">
				<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong><small></small></div>
			</div>

			<hr>

			<div class="am-g">
				<div class="am-u-sm-12 am-u-md-6">
					<div class="am-btn-toolbar">
						<div class="am-btn-group am-btn-group-xs">
							<button type="button" class="am-btn am-btn-default" ><span class="am-icon-plus"></span>  <a th:href="@{~/updata}"> 新增</a></button>
						</div>
					</div>
				</div>
				<div class="am-u-sm-12 am-u-md-3">

				</div>
				<div class="am-u-sm-12 am-u-md-3">
					<form name="form" action="/findUserByInputLike" method="post">
					<div class="am-input-group am-input-group-sm">
							<input type="text" name="input" id="input" class="am-form-field"/>
						<span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="submit" id="submit" name="submit">搜索</button>
          </span>
					</div></form>
				</div>
			</div>
			<div class="am-g">
				<div class="am-u-sm-12">
					<form class="am-form">
						<table class="am-table am-table-striped am-table-hover table-main">
							<thead>
								<tr>
									<th class="table-check"><input type="checkbox"></th>
									<th class="table-id">ID</th>
									<th class="table-title">用户名</th>
									<th class="table-type">密码</th>

									<th class="table-set">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="i:${allUser}"  >
									<td><input type="checkbox"></td>
									<td th:text="${i.id}"></td>
									<td>
										<a href="#" th:text="${i.username}"></a>
									</td>
									<td th:text="${i.password}">n</td>

									<td>
										<div class="am-btn-toolbar">
											<div class="am-btn-group am-btn-group-xs">
												<button class="am-btn am-btn-default am-btn-xs am-text-secondary" ><span class="am-icon-pencil-square-o"></span> 编辑</button>
												<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span><a th:href="@{deleteUser+${i.id}}">  删除</a></button>
											</div>
										</div>
									</td>
								</tr>
							
							</tbody>
						</table>
						<div class="am-cf">
							<span th:text="${count}">条记录</span>
							<div class="am-fr">
								<ul class="am-pagination">
									<li class="am-disabled">
										<a href="#">«</a>
									</li>
									<li class="am-active">
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#">4</a>
									</li>
									<li>
										<a href="#">5</a>
									</li>
									<li>
										<a href="#">»</a>
									</li>
								</ul>
							</div>
						</div>
						<hr>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>